# Ignore environment folder and files
env/
database/
.env
*.txt

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore temporary files and backups
*.tmp
*.bak
*.swp
*.orig

#Ignore Notebook files
*.ipynb